@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff")
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff") format("woff")
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
  font-family: "Roboto", "Arial", serif;
  font-size: 16px;
  line-height: 22px;
  background: #849d8f;
  color: #ffffff;
}
.box-center {
  width: 1200px;
  margin: 0 auto;
}
/*Главная*/
a {
  color: #ffffff;
  text-decoration: #ffffff;
}
b.slider-title {
  font-family: "Roboto Bold", "Arial", serif;
  font-size: 60px;
  line-height: 60px;  
  text-align: center;
}
.banner-left,
.banner-right {
  display: inline-block;
  width: 420px;
  height: 229px;
}
.banner-left {
  background: #849d8f url(../img/raspberry-bg.png);
}
.banner-right {
  background: #849d8f url(../img/shocolate-bg.png);
}
.catalog-item {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
h2.about-title {
  font-family: "Roboto Medium", "Arial", serif;
  font-size: 24px;
  line-height: 30px;  
  text-align: left;
}
.about-block {
  width: 860px;
  padding: 5px 20px;
  background: #849d8f url(../img/waffle-bg.png) no-repeat;
  color: #000000;
}
.about-block p {
  display: inline-block;
  width: 343px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  vertical-align: top;
  margin-left: 55px;
}
footer div {
  display: inline-block;
}
/*Каталог*/
main h1 {
  font-family: "Roboto Bold", "Arial", serif;
  font-size: 35px;
  line-height: 41px;  
  text-align: left;
  font-weight: 700;
}